VITE_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVsaWNhdGUtc2FpbGZpc2gtOTUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_XD95Yu5W0L1oCncNvbLxVHxp5UQ6n0cUNlNoLJq86z